@import "LoginRegistration.css";
@import "Map.css";

body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Map Component */
.map-dashboard-container {
  display: flex;
  justify-content: center;
}

.map-container {
  margin: 10rem;
  height: 50vh;
  width: 50vw;
}

.marker-btn {
  text-align: center;
  background-color: darkgray;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 5rem;
  border-radius: 4px;
}

/* Nav Bar */

.nav-bar {
  background-color: #1b1464;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 2rem;
}

.site-title {
  font-size: 3rem;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav-bar a {
  color: inherit;
  text-decoration: none;
}

.nav-bar a:hover {
  color: #ffc312;
  transition-duration: 0.5s;
}
